@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #eed8b2;
    border: 2px solid #cc9b89;
}
.card-header
{
    background-color: #80dfc9;
}
.card-footer{
    background-color: #ee99ab;
}
btn-block+.btn-block {
    margin-top: 0;
}
body{
    background-color: #f1a497;
    font-family: 'Itim', sans-serif !important;
}
#tbl{
    border: 1px solid red;
}
th{
    background-color: #6b5b95
}
tr:hover{
background-color: grey;
}